<% include ../partials/user-header %>
    <div class="d-flex justify-content-between flex-wrap flex-xs-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Messages</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/users/messages/new" class="btn btn-sm btn-outline-secondary">Compose</a>
                <button class="btn btn-sm btn-outline-secondary" id="delete-employee">Delete</button>
            </div>
        </div>
    </div>

    <div class="container" style="text-align: left;">
        <% user.messages.recieved.forEach(function(message){ %>
            <a href="/users/messages/<%= message._id%>/show" class="message-link">
                <div class="row message-link">
                    <div style="width: 10%;">
                        <div class="pl-3 mt-2"><%= message.author.name%></div>
                    </div>
                    <div  style="width: 75%;">
                        <div class="pl-3 mt-2"><%= message.subject%></div>
                    </div>
                    <div style="width: 8%;">
                        <div class="mt-2"><%= message.time%></div>
                    </div>
                    <div style="width: 7%;">
                        <form class="d-none toggle-danger" action="/users/messages/<%= message._id%>?_method=PUT" method="POST">
                            <button class="mt-1 btn btn-sm btn-danger visible">Delete</button>
                        </form>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
    </main>
    </div>
    </div>

    <% include ../partials/footer %>