<%- include ../partials/user-header %>

    <div class="d-flex justify-content-between flex-wrap flex-xs-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Employees</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/register" class="btn btn-sm btn-outline-secondary">Add</a>
                <button class="btn btn-sm btn-outline-secondary" id="delete-employee">Delete</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(foundUser){ %>
                    <tr>
                        <td class="pt-4 pb-3">
                            <%= foundUser.first_name %> <%= foundUser.last_name %>
                        </td>
                        <td class="pt-4 pb-3">
                            <%= foundUser.username %>
                        </td>
                        <td class="pt-4 pb-3">
                            <%= foundUser.phone %>
                        </td>
                        <td class="pt-4 pb-3">
                            <%= foundUser.address %>
                        </td>
                        <td class="pt-4 pb-3">
                            <% if(foundUser.isSysAdmin) {%>
                                <div>Administrator</div>
                            <% } else if(foundUser.isManager) { %>
                                <div>Manager</div>
                            <% } else { %>
                                <div>Employee</div>
                            <% } %>
                        </td>
                        <td style="width: 250px;"> 
                            <% if(foundUser.isSysAdmin) {%>
                                <a href="#" class="btn btn-success mt-3 mb-3 disabled visible">View</a>
                                <a href="#" class="btn btn-warning mt-3 mb-3 disabled visible">Edit</a>
                            <% } else { %>
                            <a href="/admin/<%= foundUser._id%>/show" class="btn btn-success mt-3 mb-3 visible">View</a>
                            <a href="/admin/<%= foundUser._id%>/edit" class="btn btn-warning mt-3 mb-3 visible">Edit</a>
                            <% } %>
                            <% if((user.username != foundUser.username) && !user.isSysAdmin) {%>
                                <form class="d-none toggle-danger mt-3" action="/admin/<%= foundUser._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger visible">Delete</button>
                                </form>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>
<%- include ../partials/footer %>