<% include ../partials/user-header %>

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"><%= user.first_name %> <%= user.last_name %> - Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>
                <div class="container mt-5 mb-5" style="text-align: center">
                    <div class="row">
                        <div class="container">
                            <div class="container">
                                <h3>Current Week</h3>
                                <h6 class="mb-4">(<%= startOfWeek%> - <%= endOfWeek%>)</h6>
                                <div class="row" style="height: 50px;">
                                <% weekDays.forEach(function(day){ %>
                                        <div class="col col-style"><%= day %></div>
                                <% }); %>
                                </div>
                                <div class="row" style="height: 50px;">
                                    <div class="col col-style">Date</div>
                                    <div class="col col-style">Date</div>
                                    <div class="col col-style">Date</div>
                                    <div class="col col-style">Date</div>
                                    <div class="col col-style">Date</div>
                                    <div class="col col-style">Date</div>
                                    <div class="col col-style">Date</div>
                                </div>
                            </div>
                            <div class="container mt-5 mb-5">
                                <h1><%= currentMonth%></h1>
                                <hr class="mt-4 mb-4">
                                <% var x = 0 %>
                                <% month.forEach(function(week){ %>
                                    <h4 class="mt-5">Week of <%= weekRange[x]%></h4>
                                    <div class="row mt-5" style="height: 50px;">
                                        <% week.forEach(function(day){ %>
                                            <div class="col col-style">
                                                <%= day %>
                                            </div>
                                        <% }); %>
                                    </div>
                                    <div class="row" style="height: 50px;">
                                        <div class="col col-style">Day Off</div>
                                        <div class="col col-style">Day Off</div>
                                        <div class="col col-style">Day Off</div>
                                        <div class="col col-style">Day Off</div>
                                        <div class="col col-style">Day Off</div>
                                        <div class="col col-style">Day Off</div>
                                        <div class="col col-style">Day Off</div>
                                    </div>
                                    <% x++; %>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>



<% include ../partials/footer %>